.border-right {
    border-right: 5px solid gray;
} 

.card{
    border: 2px solid black;
    padding:5px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.bg{
    background-color : white;
}

.green{
    background-color : #8BE78B;
}

.red{
    background-color: #F60000;
}