/* .ads-header-wrapper {
    margin-bottom: 3vh;
} */
.ads-header {
    text-align: center;
    position: relative;
    width: 100%;
    height: calc(100vh - 10vh);
    text-align: center;
    /* background-color: #be332d; */
    /* padding-top: 7vh; */
    /* padding-bottom: 50px; */
    color: white;
}
/* .ads-header-header {
    position: relative;
    width: 100vw;
    width: border 1px solid red;
} */

.ads-header-img {
    /* position: relative; */
    width: 100%;
    height: calc(100vh - 10vh);
    /* height: 656px; */
    /* z-index: -1; */
    /* border: 1px solid red; */
}

.ads-header-img-mobile {
    width: 100%;
    /* height: calc(100vh - 10vh); */
}

.ads-text-header {
    position: absolute;
    bottom: 10%;
    /* left: 40%; */
    width: 100%;
    z-index: 99;
    margin: 0 auto;
}

.blue {
    color: rgba(36, 90, 221, 1);
}

.purple {
    color: rgba(113, 49, 126, 1);
}

.black {
    color: black;
}

.white {
    color: white;
}

.ads-text-header h6 {
    font-size: 18px;
}
.ads-text-header h3 {
    font-size: 36px;
    font-weight: 700;
}

.swiper-container {
    /* border: 1px solid black; */
    padding-left: 15vw !important;
    margin-top: 33px;
}

.mobile-swiper-ads {
    /* top: 0% !important; */
    /* bottom: 0% !important; */
}

.swiper-mobile-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.swiper-wrapper {
    /* border: 1px solid blue; */
    /* width: 80%; */
}

.table-koin-redeem-ads {
    border-collapse: separate;
    border-spacing: 30px 20px;
    /* display: none; */
    width: 80%;
    /* border: 1px solid red; */
}

.ads-img-table {
    width: 70%;
}

.ads-penawaran-wrapper {
    padding-top: 80px;
    text-align: center;
    background-color: #be332d;
    padding-top: 7vh;
    padding-bottom: 7vh;
    color: white;
}

.swiper-slide {
    /* border: 1px solid red; */
    /* width: 35% !important; */
    /* width: 384px !important;
    width: 400px !important; */
    background: white;
    padding: 2vh 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.ads-img-slide {
    /* border: 1px solid green; */
    width: 60%;
    margin: 0 auto 2vh auto;
    height: 37.03703703703704vh;
    /* margin-bottom: 2vh; */
}
.ads-img-slide img {
    /* border: 1px solid black; */
    width: 90%;
}

.swiper-pagination {
    margin-top: 3vh;
    margin-bottom: 3vh;

    width: 100%;
}

.swiper-slide h3 {
    color: #be332d;
}

.ads-penawaran-lainnya h1 {
    font-size: 42px;
}

/* .ads-step-1,
.ads-step-2,
.ads-step-3 {
    margin-bottom: 10vh !important;
} */

.img-ads-wrapper {
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid black; */
    width: 40%;
}

.img-ads-mobile {
    margin-top: 4vh;
    margin-bottom: 2vh;
    width: 70%;
    /* text-align: center; */
}

.img-ads-web {
    margin-top: 4vh;
    margin-bottom: 2vh;
    width: 80%;
    /* text-align: center; */
}

.swiper-slide a:hover {
    text-decoration: none;
}

@media (max-width: 1440px) {
    .ads-img-slide {
        /* border: 1px solid green; */
        width: 90%;
        margin: 0 auto 2vh auto;
        height: auto;
        /* margin-bottom: 2vh; */
    }
    .ads-img-slide img {
        /* border: 1px solid black; */
        width: 70%;
    }
}
@media (max-width: 425px) {
    .ads-text-header h6 {
        font-size: 12px;
    }
    .ads-text-header h3 {
        font-size: 14px;
        font-weight: 700;
    }
    .ads-text-header h1 {
        font-size: 18px;
        font-weight: 700;
    }
}
