.campaign-hero {
    height: 90vh;
    background: url("../images/giveaway/newWebBanner.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    background-size: 100vw 100vh !important;

    color: white;
    text-align: center;
    /* overflow: hidden; */
}

.campaign-marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 100%;
    /* padding-top: 100px; */
    /* border: 1px solid white; */
}

.campaign-hero-txt {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 100%;
}

.campaign-hero-btn {
    background: #ffffff;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #ff0000 !important;
    padding: 15px 70px;
}

.campaign-hero-btn:hover {
    cursor: pointer;
    text-decoration: none;
}

.campaign-title {
    text-align: center;
    margin: 50px auto 50px auto;
}

.campaign-title span {
    color: #be332d;
}

.campaign-notes {
    text-align: center;
    width: 70%;
    margin: 25px auto;
}

.campaign-notes span {
    font-weight: 400;
}

.btn-redeem-form {
    height: 50px;
}

.giveaway-prize-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;

    color: #be332d;

    margin: 50px auto;
}

.giveaway-prize {
    margin: 0 auto;
    width: 50%;
}

.jumlah-koin {
    /* border: 1px solid red; */
    width: 50%;
    margin: 25px auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jumlah-koin h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    color: #000000;
}

#form-input {
    scroll-snap-align: center;
}

@media print {
    body * {
        visibility: hidden;
    }

    .no-print {
        visibility: hidden !important;
    }

    #form-download,
    #form-download * {
        visibility: visible;
    }
    #form-download {
        position: absolute;
        left: 0;
        top: 0;
    }
    .print-btn,
    .download-btn {
        visibility: hidden;
    }

    #form-download h5,
    #form-download h5 strong {
        visibility: hidden;
    }
}

.print-btn {
    border: 3px solid #be332d;
    box-sizing: border-box;
    border-radius: 10px;

    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #be332d;

    width: 200px;
    height: 40px;
    padding: 5px 20px;

    text-transform: uppercase;
}

.download-btn {
    background: #be332d;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    width: 200px;
    height: 40px;
    padding: 5px 20px;
    padding-top: 7px;

    /* margin-left: 25px; */

    text-transform: uppercase;
}

@media only screen and (max-width: 1366px) {
    .campaign-hero {
        height: 90vh;
        background: url("../images/giveaway/newWebBanner.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        /* background-size: 100vw 100vh; */

        color: white;
        text-align: center;
        /* overflow: hidden; */
    }
}

@media only screen and (max-width: 425px) {
    .campaign-hero {
        height: 100vh;
        background: url("../images/giveaway/mobileBanner.jpg");
        background-repeat: no-repeat;
        background-position-x: center;
        /* background-size: cover; */
        background-size: 100vw 100vh;
        background-color: #ed4e2e;

        color: white;
        text-align: center;
        /* overflow: hidden; */
    }

    .campaign-hero-txt {
        top: 45%;
    }

    .btn-redeem-form {
        width: 80%;
    }

    .giveaway-prize {
        width: 90%;
    }

    .jumlah-koin {
        width: 90%;
    }
}

.giveaway_rules h3 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.giveaway_rules ol li {
    padding-left: 10px;
    margin-bottom: 10px;
}
