.footer {
    background: #be332d;
    margin-bottom: 0;
    /* margin-top: 0; */
    padding: 50px 150px 20px 150px;
}

.footer-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-left ul {
    margin-top: 10px;
}

.footer-left ul li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-left ul li a {
    color: white;
}

.footer-left ul li a:hover {
    text-decoration: none;
}

.divider {
    height: 20px;
    border-top: 1px solid white;
    margin-top: 30px;
}

.social-button {
    display: flex;
    /* flex-wrap: wrap; */
}

.tokped-btn,
.sopi-btn,
.blibli-btn {
    color: white;
    padding: 10px 20px;
    border: transparent;
    border-radius: 50px;
    height: 50px;
    margin-right: 20px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tokped-btn {
    background: #4f9d4d;
}

.sopi-btn {
    background: #fb5731;
}

.blibli-btn {
    background: #0094d9;
}

.tokped-img,
.sopi-img,
.blibli-img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.wa-btn {
    background: #1bd741;
    color: white;
    padding: 10px 20px;
    border: transparent;
    border-radius: 50px;
    height: 50px;
    margin-right: 20px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tokped-btn:hover,
.sopi-btn:hover,
.blibli-btn:hover,
.wa-btn:hover {
    color: white;
    text-decoration: none;
}

.footer-mobile-2 {
    display: none;
}

@media screen and (max-width: 425px) {
    .footer {
        display: none;
        padding: 20px 10px;
    }

    .tokped-btn,
    .sopi-btn,
    .blibli-btn {
        font-size: 12px;
        margin-right: 5px;
        height: 100%;
        padding: 10px 5px;
    }

    .tokped-img,
    .sopi-img,
    .blibli-img {
        width: 30px;
        height: 30px;
    }

    .footer-mobile-2 {
        display: block;
        background: #be332d;
        margin-bottom: 0;
        padding: 20px 30px;
        /* margin-top: 0; */
        /* padding: 20px 150px; */
    }

    .footer-left-2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-button-2 {
        display: flex;
        /* border: 1px solid red; */
        max-width: 100%;
        width: auto;
    }

    .tokped-btn-2,
    .sopi-btn-2,
    .blibli-btn-2 {
        font-size: 12px;
        margin-right: 5px;
        height: 100%;
        padding: 10px 5px;
        color: white;
        border: transparent;
        border-radius: 50px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tokped-btn-2 {
        background: #4f9d4d;
    }

    .sopi-btn-2 {
        background: #fb5731;
    }

    .blibli-btn-2 {
        background: #0094d9;
    }

    .tokped-img-2,
    .sopi-img-2,
    .blibli-img-2 {
        width: 30px;
        height: 30px;
    }

    .wa-btn-2 {
        background: #1bd741;
        color: white;
        padding: 10px 10px;
        border: transparent;
        border-radius: 50px;
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
