.footer-wrapper {
    background: #be332d;
    color: white;
    /* padding: 49px 6.944vw; */
    /* width: 100%; */
    box-sizing: border-box;
}

.footer-list {
    list-style: none;
}

.footer-list li {
    margin-bottom: 1vh;
}

.footer-list li a {
    text-decoration: none;
    color: white;
}
.footer-list li a:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.footer-tokped-button {
    /* border: 1px solid white; */
    display: inline-block;
    /* width: 100%; */
    text-align: center;
    border-radius: 50px;
    background: #4f9d4d;
    /* margin: 10px; */
    padding: 10px;
}
.footer-shopee-button {
    /* border: 1px solid black; */
    display: inline-block;
    /* width: 15%; */
    text-align: center;
    border-radius: 50px;
    background-color: rgba(251, 87, 49, 1);
    /* margin: 10px; */
    padding: 10px;
}
.footer-blibli-button {
    /* border: 1px solid blue; */
    display: inline-block;
    /* width: 12%; */
    text-align: center;
    border-radius: 50px;
    background-color: rgba(0, 148, 217, 1);
    /* margin: 10px; */
    padding: 10px;
}

.footer-tokped-button a,
.footer-shopee-button a,
.footer-blibli-button a,
.footer-wa-wrapper a {
    text-decoration: none;
    color: white;
}
.footer-tokped-button:hover,
.footer-shopee-button:hover,
.footer-blibli-button:hover,
.footer-wa-wrapper:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.footer-wa-wrapper {
    background: rgba(27, 215, 65, 1);
    width: 30%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
}

.footer-mobile {
    display: none;
}
.footer-copyright {
    text-align: right;
    margin-bottom: 0;
}

.footer-mobile-wrapper {
    margin: 0;
    padding: 0;
}
.mobile-footer-below {
    margin: 0;
    padding: 0;
}

/* .e-coomerce-button {
    margin: 0;
    padding: 0;
    width: 100% !important;
} */

.footer-web-wrapper {
    margin: 0;
    padding: 0;
}

.swiper-no-border {
    border-radius: 0px !important;
    box-shadow: none !important;
}

@media (max-width: 1922px) {
    .footer-tokped-button {
        width: 20%;
        text-align: center;
    }
    .footer-shopee-button {
        width: 18%;
        text-align: center;
    }
    .footer-blibli-button {
        width: 17%;
        text-align: center;
    }
}
@media (max-width: 1588px) {
    .footer-wa-wrapper {
        width: 40%;
    }
}
@media (max-width: 1530px) {
    .footer-tokped-button {
        width: 30%;
        text-align: center;
    }
    .footer-shopee-button {
        width: 28%;
        text-align: center;
    }
    .footer-blibli-button {
        width: 25%;
        text-align: center;
    }
}
@media (max-width: 1152px) {
    .footer-wa-wrapper {
        width: 50%;
    }
}
@media (max-width: 1094px) {
    .footer-tokped-button {
        width: 38%;
        text-align: center;
    }
    .footer-shopee-button {
        width: 32%;
        text-align: center;
    }
    .footer-blibli-button {
        width: 30%;
        text-align: center;
    }
}
@media (max-width: 958px) {
    .footer-wa-wrapper {
        width: 65%;
    }
}
@media (max-width: 830px) {
    .footer-tokped-button {
        width: 42%;
        text-align: center;
    }
    .footer-shopee-button {
        width: 36%;
        text-align: center;
    }
    .footer-blibli-button {
        width: 32%;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .footer-mobile {
        display: block;
    }
    .footer-web {
        display: none;
    }
    .footer-mobile-tokped {
    }

    .footer-mobile-wa a img,
    .footer-mobile-tokped a img,
    .footer-mobile-shopee a img {
        width: 15%;
    }
    .footer-mobile-blibli a img {
        width: 10%;
        /* height: 10%; */
    }
    .footer-mobile-tokped a,
    .footer-mobile-shopee a,
    .footer-mobile-blibli a,
    .footer-mobile-wa a {
        text-decoration: none;
        color: white;
        font-size: 14px;
    }
    .footer-mobile-tokped:hover,
    .footer-mobile-shopee:hover,
    .footer-mobile-blibli:hover,
    .footer-mobile-wa :hover {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
    .footer-mobile-tokped {
        width: 100%;
        text-align: center;
        border-radius: 50px;
        background-color: rgba(79, 157, 77, 1);
        margin: 10px 0;
        padding: 5px;
    }
    .footer-mobile-shopee {
        width: 100%;
        text-align: center;
        border-radius: 50px;
        background-color: rgba(251, 87, 49, 1);
        margin: 10px 0;
        padding: 5px;
    }
    .footer-mobile-blibli {
        width: 100%;
        text-align: center;
        border-radius: 50px;
        background-color: rgba(0, 148, 217, 1);
        margin: 10px 0;
        padding: 5px;
    }

    .footer-mobile-wa {
        background: rgba(27, 215, 65, 1);
        width: 100%;
        margin: 10px 0;
        padding: 5px;
        text-align: center;
        border-radius: 50px;
    }

    .mobile-temukan p,
    .mobile-hubungi p {
        font-size: 3vw;
    }

    .footer-mobile-copyright {
        font-size: 3vw;
        text-align: right;
    }
    .mobile-footer-below {
        padding-right: 2vw;
        /* border: 1px solid black; */
    }

    .footer-mobile-wgm img {
        position: relative;
        bottom: 0;
    }
}

@media (max-width: 392px) {
    .footer-mobile-tokped a,
    .footer-mobile-shopee a,
    .footer-mobile-blibli a,
    .footer-mobile-wa a {
        font-size: 12px;
    }
    .mobile-temukan p,
    .mobile-hubungi p {
        font-size: 4vw !important;
    }
}

@media (max-width: 357px) {
    .footer-tokped-button {
        width: 50%;
        text-align: center;
    }
    .footer-shopee-button {
        width: 43%;
        text-align: center;
    }
    .footer-blibli-button {
        width: 39%;
        text-align: center;
    }
}
@media (max-width: 351px) {
    .footer-wa-wrapper {
        width: 75%;
    }
    .footer-mobile-wa a {
        font-size: 10px;
    }
}
