@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

/* body {
    background: linear-gradient(
            0deg,
            rgba(0, 91, 171, 0.05),
            rgba(0, 91, 171, 0.05)
        ),
        #ffffff;
    position: relative;
} */

.form_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
            0deg,
            rgba(0, 91, 171, 0.05),
            rgba(0, 91, 171, 0.05)
        ),
        #ffffff;
    position: relative;
}

.input_container h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #000;
}

.input_container span {
    color: #005bab;
}

.input_container .ui.form {
    margin-top: 25px;
    text-align: center;
    width: 550px;
}

.ui.input input[type="file"] {
    display: none;
}

.user_input {
    border: 2px solid #005bab !important;
    border-radius: 10px !important;
    height: 50px;
    width: 100%;
    background: transparent !important;
}

.ui.button.check,
.ui.button.upload,
.ui.button.submit {
    background: #005bab;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
}

.ui.button.check:hover,
.ui.button.upload:hover,
.ui.button.submit:hover {
    background: #005bab;
    color: #ffffff;
}

.ui.button.check,
.ui.button.upload {
    width: 100%;
    height: 100%;
    padding: 15px;
}

.ui.button.submit {
    width: 200px;
    padding: 15px 25px;
    margin-top: 25px;
}

.modal_content {
    text-align: center;
}

.modal_content h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.modal_content p {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: justify;
    color: #000000;
    margin: 35px auto;
}

.check.icon {
    color: #10c78b;
}

.times.icon {
    color: red;
}

@media only screen and (max-width: 768px) {
    .input_container h1 {
        font-size: 32px;
        line-height: 34px;
    }
    .input_container .ui.form {
        margin-top: 25px;
        text-align: center;
        width: 90vw;
    }
}
