.navbar {
    min-height: 10vh;
    background: #be332d;
    padding: 0 50px;
    display: flex;
    justify-content: baseline;
}

.navbar a {
    color: white;
    text-transform: uppercase;
    margin-right: 15px;
}

.wa-b {
    border: transparent;
    background: #1bd741;
    border-radius: 5px;
}

.burger-btn {
    color: #be332d;
    font-size: 26px;
    background-color: #fff;
    border: transparent;
    border-radius: 3px;
    padding: 5px 15px;
}

.navbar-toggler {
    padding: 0;
    display: flex;
}

.navbar-toggler:focus {
    outline: none;
}

.cart-desktop {
    position: relative;
    /* font-size: 18px; */
    /* border: 1px solid white; */
}

.cart-mobile {
    display: none;
    position: relative;
}

.cart-badges-desktop,
.cart-badges-mobile {
    background: #ff0000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
}

.cart-badges-desktop {
    position: absolute;
    top: 0;
    right: 5px;
}

.cart-badges-mobile {
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 425px) {
    .navbar {
        padding: 10px 0px 10px 20px;
    }
    .wa-b {
        text-align: center;
        width: 200px;
    }
    .cart-mobile {
        display: block;
        margin-left: 10px;
        padding: 5px;
        font-size: 26px;
    }
    .cart-desktop {
        display: none;
    }
}
