.lp_wgm_heading {
    text-align: center;
}

.lp_wgm_heading h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #be332d;
}

.lp_wgm_list {
    display: flex;

    align-items: baseline;
    margin: 0 auto;
    margin-bottom: 50px;

    width: 70%;
}

.lp_wgm_num {
    font-weight: bold;
    font-size: 38px;
    line-height: 72px;
    color: #000000;
    margin-right: 25px;
}

.lp_wgm_list_desc h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.lp_wgm_list_desc h4 span {
    color: #be332d;
}

.lp_wgm_list_desc p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.lp_wgm_list_desc button {
    background: #be332d;
    border-radius: 10px;
    border: transparent;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.lp_wgm_foot {
    width: 70%;
    margin: 25px auto;
    margin-bottom: 100px;
    text-align: center;
}

.lp_wgm_foot h3 {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #be332d;
    margin-bottom: 25px;
}

.lp_wgm_foot button {
    background: #be332d;
    border-radius: 10px;
    border: transparent;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

@media screen and (max-width: 1024px) {
    .lp_wgm_list {
        display: flex;

        align-items: baseline;
        margin: 0 auto;
        margin-bottom: 50px;

        width: 100%;
    }

    .lp_wgm_foot {
        width: 100%;
        margin: 25px auto;
        margin-bottom: 100px;
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    .lp_wgm_heading {
        margin-bottom: 35px;
    }
    .lp_wgm_heading h2 {
        font-size: 26px;
        line-height: 32px;
    }

    .lp_wgm_num {
        font-size: 20px;
        line-height: 32px;
        margin-right: 15px;
    }

    .lp_wgm_list_desc h4 {
        font-size: 16px;
        line-height: 26px;
        color: #000000;
    }

    .lp_wgm_list_desc p {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }

    .lp_wgm_list_desc button {
        padding: 10px 25px;
        font-size: 13px;
        line-height: 18px;
    }

    .lp_wgm_foot h3 {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 15px;
    }

    .lp_wgm_foot button {
        padding: 10px 25px;
        font-size: 13px;
        line-height: 18px;
    }
}


.lp_wgm2_heading {
    text-align: center;
}

.lp_wgm2_heading h5 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 50px;
}

.lp_wgm2_heading h3 {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #be332d;
}

.lp_wgm_carousel {
    margin: 25px auto;
}

.lp_wgm_carousel_item {
    padding: 1rem;
}

.lp_wgm_carousel_item .card {
    background: #ffffff;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    min-height: 600px;
}

.lp_wgm_carousel_item .card .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lp_wgm_carousel_item .card .card-footer {
    border: transparent;
    text-align: center;
}
.lp_wgm_carousel_item .card .card-footer h5 {
    font-weight: 600;
    font-size: 24px;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.88);
}

.lp_wgm_article {
    margin: 35px auto;
    width: 80%;
}

.lp_wgm_article p {
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    letter-spacing: 0.3px;
    margin-bottom: 35px;
}

.faq__accordion {
    margin: 50px auto;
}

.faq__accordion .card {
    background: #FFFFFF;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;
}

.faq__accordion .card .card-header {
    border: transparent;
    cursor: pointer;
    padding: 2rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq__accordion .card .card-header h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.faq__accordion .card .card-body {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    padding-left: 2rem;
}


.accordion.accordion-svg-toggle .card .card-header .svg-icon svg {
    transform: rotate(0deg);
    transition: all ease 0.3s;
}

.accordion.accordion-svg-toggle
    .card
    .card-header.collapsed
    .svg-icon
    svg {
    transform: rotate(180deg);
}

@media screen and (max-width: 1440px) {
    .lp_wgm_carousel_item .card {
        min-height: 625px;
    }
}
@media screen and (max-width: 1024px) {
    .lp_wgm_carousel_item .card .card-footer h5 {
        font-size: 16px;
        line-height: 26px;
    }

    .lp_wgm_carousel_item .card {
        min-height: 550px;
    }
}

@media screen and (max-width: 425px) {
    .lp_wgm2_heading h5 {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 25px;
    }

    .lp_wgm2_heading h3 {
        font-size: 20px;
        line-height: 32px;
    }

    .lp_wgm_carousel_item .card .card-footer h5 {
        font-size: 14px;
        line-height: 18px;
    }

    .lp_wgm_carousel_item .card {
        min-height: 475px;
    }
    
    .lp_wgm_article {
    width: 90%;
    }
    
    .lp_wgm_article p {
    font-size: 12px;
    }
}
