@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

body {
    background: linear-gradient(
            0deg,
            rgba(0, 91, 171, 0.05),
            rgba(0, 91, 171, 0.05)
        ),
        #ffffff;
    position: relative;
}

.trophy-l {
    position: absolute;
    left: 0;
    top: 750px;
    z-index: 1;
    width: 20%;
}

.trophy-r {
    position: absolute;
    right: 0;
    top: 200px;
    z-index: 1;
    width: 20%;
}

.leaderboard {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    /* border: 1px solid red; */
}

.leaderboard h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #005bab;
}

.join_event {
    position: absolute;
    top: 50px;
    right: 0;

    background: #005bab;
    border-radius: 10px;
    border: transparent;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
    width: 200px;
    height: 45px;
}

.leaderboard_podium {
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.winner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.winner img {
    position: relative;
    z-index: 2;
}

.winner_thumb img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -15px;
    z-index: 1;
}

.winner_name {
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #005bab;
}

.winner_likes {
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #005bab;
}

.likes {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #005bab;
}

.winner-1 {
    margin: -150px 100px 0 100px;
}

.winner-1 .winner_thumb img {
    width: 135px;
    height: 135px;
}

.winner-1 .winner_name {
    font-size: 24px;
    line-height: 28px;
}

.winner-1 .winner_likes {
    font-size: 48px;
    line-height: 56px;
}

.winner-1 .likes {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #005bab;
}

.leaderboard_table {
    margin: 75px auto;
    position: relative;
    z-index: 2;
    overflow-x: auto;
}

.leaderboard_table table {
    /* border: 1px solid yellow; */
    width: 100%;
    background: #ffffff;
    border-radius: 15px;
}

.leaderboard_table thead {
    background: #005bab;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #ffffff;
    text-align: center;
}

.leaderboard_table thead th:first-child {
    border-top-left-radius: 15px;
}
.leaderboard_table thead th:last-child {
    border-top-right-radius: 15px;
}

.leaderboard_table thead tr {
    border-radius: 100px;
}

.leaderboard_table thead th {
    padding-top: 25px;
    padding-bottom: 25px;
}

.leaderboard_table tbody {
    text-align: center;
}

.leaderboard_table tbody tr td {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 5px;
    padding-right: 5px;
}

.syarat-ketentuan {
    position: relative;
    z-index: 2;
    text-align: center;
}

.syarat-ketentuan h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #005bab;
    margin-bottom: 25px;
}

.syarat-ketentuan img {
    min-height: 200px;
    margin-bottom: 25px;
}

.syarat-ketentuan p {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.7);
}

.mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .winner img {
        width: 20px;
    }

    .leaderboard h1 {
        font-size: 26px;
        line-height: 28px;
    }

    .leaderboard_podium {
        width: 100%;
        margin-top: 75px;
    }

    .trophy-l {
        position: absolute;
        left: 0;
        top: 750px;
        z-index: 1;
        width: 20%;
    }

    .trophy-r {
        position: absolute;
        right: 0;
        top: 400px;
        z-index: 1;
        width: 20%;
    }

    .winner-1 {
        margin: -75px 50px 0 50px;
    }

    .winner_thumb img {
        width: 50px;
        height: 50px;
        /* background: #c4c4c4; */
        border-radius: 50%;
        margin-top: -15px;
        z-index: 1;
    }
    .winner-1 .winner_thumb img {
        width: 75px;
        height: 75px;
    }

    .winner-1 .winner_name {
        font-size: 14px;
        line-height: 14px;
    }

    .winner-1 .winner_likes {
        font-size: 20px;
        line-height: 20px;
    }

    .winner-1 .likes {
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #005bab;
    }

    .winner_name {
        margin-top: 15px;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #005bab;
    }

    .winner_likes {
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        text-align: center;

        color: #005bab;
    }

    .likes {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;

        color: #005bab;
    }

    .leaderboard_table tbody tr td {
        font-size: 12px;
    }

    .join_event {
        position: absolute;
        top: 10px;
        right: 0;

        border-radius: 5px;
        font-size: 12px;
        line-height: 14px;
        width: 100px;
        height: 30px;
    }
}

@media screen and (max-width: 425px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}
