.redeem {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.redeem-header {
    background-color: rgba(190, 51, 45, 1);
    text-align: center;
    color: white;
    padding-top: 18vh;
    padding-bottom: 7.4vh;
}
.redeem-header h1 {
    font-size: 2.917vw;
}

.redeem-content {
    padding-top: 56px;
    text-align: center;
}
.redeem-content span:first-child {
    color: rgba(190, 51, 45, 1);
}
.redeem-content span {
    font-size: 42px;
    font-weight: 700;
}

select.redeem-select {
    margin: 0 auto;
    width: 50%;
}

.redeem-select {
    border-radius: 10px !important;
    color: #495057;
}

.koin-requirement {
    margin: 0 auto;
    text-align: left;
    width: 50%;
    color: rgba(190, 51, 45, 1);
    font-weight: 700;
    margin-bottom: 3vh;
    /* border: 1px solid blue; */
}

#img_koin_redeem {
    display: none;
    margin: 0 auto;
}

.resize-koin{
    width: 60%;
}

.redeem-game {
    margin-top: 20px;
    margin-bottom: 27px;
    border-radius: 10px !important;
}

.redeem-input {
    width: 50%;
    margin: 0 auto;
    border-radius: 10px !important;
}

.btn-redeem-form {
    width: 13.958vw;
    background-color: rgba(190, 51, 45, 1);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 89px;
}

.lacak-status-wrapper {
    padding-top: 46px;
    padding-bottom: 32px;
    background-color: rgba(190, 51, 45, 1);
}

.lacak-form {
    text-align: center;
    margin-bottom: 0 !important;
    padding-bottom: 7vh;
    padding-top: 5vh;
}

.lacak-label {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.input-lacak {
    margin: 0 auto 15px auto;
    width: 30%;
    border-radius: 10px;
}

.btn-lacak {
    color: #be332d;
    background-color: white;
    font-size: 16px;
    width: 11.111vw;
    border-radius: 10px;
}

.redeem-form-hide {
    display: none;
}

.footer-mobile {
    display: none;
}

/* progress bar */
.kode-redeem {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: black !important;
    text-align: center;
}

.progress-bar {
    width: 100%;
    background-color: #be332d;
}
.progress-bar h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;
}
.progress-bar h5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;
}

.progress-meter {
    margin-top: 2vh;
    padding-left: 0;
}
.progress-meter li {
    list-style-type: none;
    float: left;
    width: 33.33%;
    position: relative;
    text-align: center;
    position: relative;
    z-index: 99;
    /* border: 1px solid white; */
    /* margin: 0 auto !important; */
}

.progress-meter li.done:before {
    content: "\2713";
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid yellowgreen;
    color: yellowgreen;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #be332d;
    position: relative;
    z-index: 2;
}
.progress-meter li.todo:before {
    content: "";
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid white;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #be332d;
    position: relative;
    z-index: 2;
}

.progress-meter li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 15px;
    left: calc(-50% + 15px);
    z-index: -1;
}

.progress-bar li:first-child:after {
    content: none;
}

.progress-meter li.done:after {
    background-color: yellowgreen;
}
.progress-meter li.todo:after {
    background-color: white;
}

.kode-redeem-wrapper {
    margin-top: 3vh;
    margin-bottom: 13.518518518518517vh;
}

.kode-redeem-wrapper h3 {
    color: #be332d;
    margin-bottom: 2vh;
}
.redeem-code-empty {
    border: 1px solid #be332d;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    height: 81px;
}

.alamat-redeem {
    margin-bottom: 5vh;
}

.redeem-banner {
    margin: 50px auto;
}

.redeem-banner img {
    width: 100%;
    /*height: 600px;*/
}

.redeem-banner .redeem-desktop {
    display:block;
}

.redeem-banner .redeem-mobile {
    display:none;
}

@media (max-width: 760px) {
    .alamat-redeem h3 {
        font-size: 16px;
    }
}

.redeem-code {
    border: 1px solid #be332d;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    height: 81px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #be332d;
}

.resize-koin {
    width: 60%;
}

.redeem-select-bottom {
    display: none;
}
@media (max-width: 1050px) {
    .redeem-header h1 {
        font-size: 4.917vw;
    }
}
@media (max-width: 768px) {
    select.redeem-select {
        width: 80%;
    }
    .redeem-header h1 {
        font-size: 7.917vw;
    }

    .koin-requirement {
        width: 80%;
    }
    .redeem-input {
        width: 80%;
    }
    .btn-redeem-form {
        width: 18.958vw;
    }
}

@media (max-width: 651px) {
    .btn-lacak {
        width: 17.111vw;
    }
    .input-lacak {
        width: 70%;
    }
}
@media (max-width: 406px) {
    .btn-lacak {
        width: 25.111vw;
    }
    .btn-redeem-form {
        width: 25.958vw;
    }
    .redeem-code {
        width: 80%;
        font-size: 40px;
        font-weight: 700;
    }
}

@media screen and (max-width: 425px) {
    .redeem-banner .redeem-desktop {
        display:none;
    }
    
    .redeem-banner .redeem-mobile {
        display:block;
    }
}
