p{
    margin: 0;
}
section.banner{
    background: #BE332D;
    width: 100vw;
    height: 100vh;
}

.white_bold_54{
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 76px;  

    color: #FFFFFF;
}

.white_500_18{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    color: #FFFFFF;
}

.white__btn{
    background: #FFFFFF;
    border-radius: 5px;   
    transition: all 400ms;  
    color: black;
    padding: 10px 20px;
}

.white__btn:hover{
    background: whitesmoke;
    color: black;
}

.black_bold_36{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;  

    color: #000000;
}

.black_500_18{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px; 

    color: #000000;
}

.grey_500_18{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px; 

    color: grey;
}

.title__section{
    padding-top: 3rem;
}

.how_carousel{
    width: 95%;
    margin:0px auto;
}

.slick-current{
    transform: scale(1.05)!important;
    background: #F5F5F5!important;
}

.carousel__item{
    background: white;
    box-shadow: -3px 3px 6px rgba(221, 221, 221, 0.2), 3px -3px 6px rgba(221, 221, 221, 0.2), -3px -3px 6px rgba(255, 255, 255, 0.9), 3px 3px 8px rgba(221, 221, 221, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(221, 221, 221, 0.5);
    border-radius: 25px;
    padding: 20px;
    margin: 10px 20px;  
    overflow: hidden;
    height: 280px;
    width: 685px;
}

.carousel__item .img__carousel{
    width: 70%;
    margin: 2rem auto;
}

.img__carousel img{
    width: -webkit-fill-available;
}

.circle__number{ 
    width: 66px;
    height: 66px; 
    border-radius: 32px;
    background: #BE332D;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;   
    padding: 10px; 
}

.carousel_title{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px; 

    color: #323232; 
    margin-left: 1rem;
}

.carousel_desc{
    font-weight: normal;
    font-size: 18px;
    line-height: 24px; 
    letter-spacing: 0.3px;
    
    color: #000000;
}

.lelang_carousel_arrow{
    background: #BE332D;
    border-radius: 5px;
    color: white;
}

.slick__btn{
    margin: 10px auto;
    margin-top: 2rem;
}

.black_bold_36{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;

    color: #000000;
}

.primary__btn{
    background: #BE0800;
    border-radius: 5px;   
    transition: all 400ms;  
    color: white;
    padding: 10px 20px;
}

.primary__btn:hover{
    background: #8e0c05;
    color: white;
}

.wa__btn{
    background: #1BD741;
    border-radius: 5px;   
    transition: all 400ms;  
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
}

.wa__btn:hover{
    background: #16a633;
    color: white;
}

.benefit, .gabung, .whatsapp, .highlight{
    margin-top: 8rem;
}

.c32_bold_24{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;

    color: #323232;
}

.form_daftar{
    margin-top: 2rem;
}

.carousel__item.row{
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important; 
}

.rg_1{
    display: none;
}

.rg_2{
    display: block;
}

.banner__row .leftside{
    order: 1;
}

.banner__row .rightside{
    order: 2;
}

.sign_hand{
    width: 30%;
}

.tabel__img{
    width: 70%;
    padding: 10px;
    background: #F5F5F5;
    box-shadow: -3px 3px 6px rgba(221, 221, 221, 0.2), 3px -3px 6px rgba(221, 221, 221, 0.2), -3px -3px 6px rgba(255, 255, 255, 0.9), 3px 3px 8px rgba(221, 221, 221, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(221, 221, 221, 0.5);
    border-radius: 25px;
}

.highlight > .d-flex:last-child{
    margin-top:2rem
}

@media screen and (max-width: 768px) {
    .highlight img{
        width: 100%;
    }

    .sign_hand{
        display: none;
    }

    .highlight{
        text-align: center;
    }
}

@media screen and (max-width: 600px) {

    .form-check{
        text-align: left;
    }

    .carousel__item{
        width: 95vw;
        height: auto;
    }
    .slick-current{
        transform: none!important;
        background: #F5F5F5!important;
    }

    .left__benefit, .left__gabung{
        text-align: center;
    }

    .right__benefit, .right__gabung{
        margin-top: 3rem;
        text-align: center;
    }

    .rg_2{
        display: none;
    }
    
    .rg_1{
        display: block;
    }

    .right__gabung img{
        width: 100%;
    }

    .black_bold_36{
        font-size: 24px;
        line-height: 32px;
    }

    .white_bold_54{
        font-size: 32px;
        line-height: 40px;
    }

    .black_500_18{
        font-size: 14px;
        line-height: 20px;
    }

    .grey_500_18{
        font-size: 14px;
        line-height: 20px;
    }

    .c32_bold_24{
        font-size: 18px;
        line-height: 22px;
    }

    .banner__row .leftside{
        order: 2;
    }
    
    .banner__row .rightside{
        order: 1;
        text-align: center;
    }

    .banner__row .rightside img {
        width: 80%;
    }

    section.whatsapp *{
        text-align: center;
    }

    section.whatsapp .col-md-8{
        margin-top: 2rem;
    }
}